[user]
	email = sadegh.nobakhti@gmail.com
	name = s4
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main

[core]
	pager = perl /usr/share/git/diff-highlight/diff-highlight | less
	editor = /usr/bin/vim

[interactive]
    diffFilter = perl /usr/share/git/diff-highlight/diff-highlight
[credential]
	helper = cache
