setxkbmap -layout us,ir

#!
#! caps as escape on release and ctrl while held down
#!
#! make CapsLock behave like Ctrl:
# setxkbmap -option ctrl:nocaps
#! make short-pressed Ctrl behave like Escape:
# xcape -e 'Control_L=Escape'

if [$VISUAL = "nvim" ]; then
    setxkbmap -option caps:escape_shifted_capslock
else if [ $VISUAL = "emacs" ]; then
    setxkbmap -option caps:ctrl_modifier
fi

xset r rate 170 70

if [ $HOSTNAME = "naad" ]; then
    setxkbmap -option ctrl:swap_lwin_lctl
    setxkbmap -option ctrl:swap_rwin_rctl
    setxkbmap -option altwin:menu_win
    xrandr --output HDMI-2 --primary --mode 1920x1080 --rate 75
else
    # default home computer
    xrandr --output eDP-1 --off
    xrandr --output HDMI-2 --primary --mode 1920x1080 --rate 75
    # xrandr --output eDP-1 --mode 1920x1080
fi

