#!/bin/sh

# List of mapping options
# `/usr/share/X11/xkb/rules/xorg.lst`

#!
#! caps as escape on release and ctrl while held down
#!
#! make CapsLock behave like Ctrl:
# setxkbmap -option ctrl:nocaps
#! make short-pressed Ctrl behave like Escape:
# xcape -e 'Control_L=Escape'

# HOSTNAME variable is not populated in sh (dash) environment.
HOSTNAME=$(hostname) ||
    HOSTNAME=$(uname -n) ||
    HOSTNAME=$(head -n 1 /etc/hostname) ||
    HOSTNAME="x580vd"

if [ "$VISUAL" = "emacs" ]; then
    setxkbmap -option caps:ctrl_modifier
else
    setxkbmap -option caps:escape_shifted_capslock
fi

setxkbmap -layout us,ir
setxkbmap -option grp:win_space_toggle

xset r rate 170 70

if [ "$HOSTNAME" = "x580vd" ]; then # default home computer
    # xrandr --setprovideroutputsource modesetting NVIDIA-0
    xrandr > /dev/null # somehow fixes refresh rate not being set when using `Driver "Intel"` in xorg.conf.d
    xrandr --output HDMI2 --primary --mode 1920x1080 --rate 75 &&
        xrandr --output eDP1 --off ||
        xrandr --output eDP1 --mode 1920x1080
elif [ "$HOSTNAME" = "naad" ]; then
    setxkbmap -option ctrl:swap_lwin_lctl
    setxkbmap -option ctrl:swap_rwin_rctl
    setxkbmap -option altwin:menu_win
    xrandr --output HDMI-1 --primary --mode 1920x1080 --rate 75
fi
