[Desktop Entry]
Name=Repeat-rate
Comment=Run xset r rate 170 90
Exec=setxkbmap -option caps:escape; xset r rate 170 70
Terminal=false
Type=Application
