[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/s4/Desktop/weekly scheduel.xlsx]
row=6
col=0

[243698D83698ABF4]
row=3
col=0

[google-drive://sadegh.nobakhti@gmail.com/]
row=5
col=0

[0945-0DA3]
row=2
col=0

[Trash]
row=4
col=0

[/]
row=0
col=0

[/home/s4]
row=1
col=0

